doctype 5
html(lang="en")
  head
    title Fingerboard Scales
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    link(href="#{cdn_scheme}//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="./main.css", rel="stylesheet", type="text/css")
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="#{cdn_scheme}//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js")
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
  body
    h1 Fingerboard Scales

    .module.panel
      #instruments.nav.nav-tabs
        li.btn.navbar-btn.btn-default(type="button") Violin
        li.btn.navbar-btn(type="button") Viola
        li.btn.navbar-btn(type="button") Cello
      #fingerboard
      #fingerings.btn-group
        button.btn.btn-default(type="button") Notes
        button.btn(type="button") Fingerings
        button.btn(type="button") Scale Degrees

    .module.panel
      h2.panel-title Scale root
      #keyboard

    .module.panel
      h3.panel-title Scale
      #scales

    #scale-notes

    a#fork-me(href="https://github.com/osteele/fingerboard")
    script(src="./fingerboard.js")
    if debug
      script(src="http://localhost:35729/livereload.js")
