doctype 5
html(lang="en", ng-app="FingerboardScales")
  head
    title Fingerboard Scales
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    link(rel="icon", type="image/png", href="images/fretboard-icon.png")

    link(href="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css", rel="stylesheet")
    link(href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600", rel="stylesheet")
    link(href="./main.css", rel="stylesheet", type="text/css")

    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", defer)
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc1/js/bootstrap.min.js", defer)
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js", defer)
    script(src="#{cdn_scheme}//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js", defer)

    script(src="./fingerboard.js", defer)

  body.loading(ng-controller="FingerboardScalesCtrl", ng-class="bodyClassNames()")
    h1
      | Fingerboard Scales

    .module.panel
      h2.panel-title Fingerboard
      #instruments.nav.nav-tabs
        li.btn.navbar-btn.btn-default(type="button") Violin
        li.btn.navbar-btn(type="button") Viola
        li.btn.navbar-btn(type="button") Cello
      fingerboard#fingerboard
      #fingerings.btn-group
        button.btn.btn-default(type="button") Notes
        button.btn(type="button") Fingerings
        button.btn(type="button") Scale Degrees

    .module.panel
      h2.panel-title Scale Tonic
      keyboard#keyboard

    .module.panel
      h2.panel-title Scale Class
      #scales
        .scale(ng-repeat="s in scales", ng-class="{selected: s == scale}", ng-click="setScale(s)",
            ng-mouseover="hover.pitches = s.pitches", ng-mouseout="hover.pitches = null")
          h3 {{s.name}}
          pitch-constellation(pitches="s.pitches")

    #scale-notes

    a#fork-me(href="https://github.com/osteele/fingerboard")

    #about-container
      i#about(data-original-title="About").icon-info-sign

    #templates
      #about-text
        :markdown
          *Fingerboard Scales* displays the first-position finger position for scales on a
          violin, viola, or cello in standard tuning.

          [The viola and cello have strings in the same pitches classes, so the fingering is the same.]

          Click or tap a key on the keyboard to select the scale key (tonic).

          ---

          Built by [Oliver Steele](http://github.com/osteele) using
          [Angular](http://angularjs.org),
          [D3](http://d3js.org/),
          [Grunt](http://gruntjs.com/),
          [Jade](http://jade-lang.com/),
          [LiveScript](http://livescript.net/),
          [Sass](http://sass-lang.com/), and
          [Twitter Bootstrap](http://getbootstrap.com/).

          The [background picture](http://www.flickr.com/photos/mitch98000/3320576686/), by
          [mitch98000 @flickr](http://www.flickr.com/photos/mitch98000/),
          is used under [Creative Commons &ndash; Attribution](http://creativecommons.org/licenses/by/2.0/deed.en).

          The favicon image is from a [sketch](http://openclipart.org/detail/4802/violin-by-papapishu)
          placed in the public domain by papapishu @ [Openclipart](http://openclipart.org).

    svg#svg-effects
      filter#hovered-scale-note
        feColorMatrix(type="matrix", values="0 0 0 0 0   0 0 0 0.9 0   0 0 0 0.9 0   0 0 0 1 0")
        feGaussianBlur(stdDeviation="5", result="coloredBlur")
        feMerge
          feMergeNode(in="coloredBlur")
          feMergeNode(in="SourceGraphic")

    if debug
      script(src="http://localhost:35729/livereload.js")
